[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
django = "*"
djangorestframework = "*"
pillow = "*"
django-decouple = "*"
django-video-encoding = "*"
django-rest-auth = "*"
django-allauth = "*"
django-cors-headers = "*"
djangorestframework-jwt = "*"

[requires]
python_version = "3.7"
